{% extends 'base.html' %}

{% block title %}
Generated successfully
{% endblock %}

{% block body %}

    <input type="text" value="{{ password }}" id="myInput">

    <button onclick="myFunction()" onmouseout="outFunc()">
      Copy text
      </button>

    <script>
    function myFunction() {
      var copyText = document.getElementById("myInput");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");

      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copied: " + copyText.value;
    }

    function outFunc() {
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copy to clipboard";
    }
    </script>
{% endblock %}